---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle: string = "Israel Chidera - About";
---


<BaseLayout pageTitle={pageTitle}>
    <section class="w-full ">
        <iframe src="https://israelchidera.substack.com/embed"  style="border:1px solid #EEE;" ></iframe>
    </section>
</BaseLayout>
