---
import "../styles/global.css";
import Navbar from "../components/Navbars.astro";
import Floating from "../components/Floating.astro";
import Footer from "@/components/Footer.astro";

const { pageTitle } = Astro.props;
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/logo.png" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <meta
            name="description"
            content="Israel Chidera | Software engineer"
        />
        <meta name="keywords" content="frontend, software, react js, next js" />
        <link rel="canonical" href="https://israelchidera.netlify.app" />
        <meta
            property="og:title"
            content="Israel Chidera | Software engineer"
        />
        <meta
            property="og:description"
            content="Web design, digital marketing, web application, website, website design, Israel Chidera, design, mobile, application, software, web application, CRM, ERP, E-commerce, Networking, Management"
        />

        <meta property="og:url" content="https://israelchidera.netlify.app" />
        <meta property="og:type" content="website" />
        <meta property="og:locale" content="en_GB" />
        <meta property="og:site_name" content="Israel Chidera" />
        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:site" content="https://israelchidera.netlify.app" />
        <meta name="twitter:creator" content="@ChideraEl" />
        <meta name="twitter:title" content="Israel Chidera" />
        <meta
            name="twitter:description"
            content="Web design, digital marketing, web application, website,website design,Israel Chidera, design, mobile, application, software, web application, CRM, ERP, E-commerce, Networking, Management"
        />

        <!-- Google tag (gtag.js) -->
        <script
            type="text/partytown"
            async
            src="https://www.googletagmanager.com/gtag/js?id=G-MD8R9SH6CK"
        ></script>
        <script type="text/partytown">
            window.dataLayer = window.dataLayer || [];
            function gtag() {
                dataLayer.push(arguments);
            }
            gtag("js", new Date());

            gtag("config", "G-MD8R9SH6CK");
        </script>
        <title>{pageTitle}</title>
    </head>
    <body class="">
        <div class="bg-primary relative">
            <slot />
            <Footer />
        </div>
    </body>
</html>
